.ICEauthority
.RubyMine32/
.abrt/
.bash_history
.bash_logout
.bash_profile
.bugzillacookies
.bundler/
.cache/
.config/
.dbus/
.dir_colors
.dropbox-dist/
.dropbox/
.eclipse/
.elluminate/
.esd_auth
.fontconfig/
.gconf/
.gem/
.gimp-2.6/
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.header_cache
.histfile
.icedtea/
.imsettings.log
.irssi/
.katello/
.local/
.libreoffice/
.m2/
.macromedia/
.mission-control/
.mozilla/
.mutt.crt
.offlineimap/
.offlineimaprc
.oh-my-zsh/
.pgadmin3
.pgpass
.pki/
.psql_history
.pulse-cookie
.pulse/
.purple/
.ssh/
.subversion_IDEA/
.task/
.thumbnails/
.vimfuzzyfinder
.viminfo
.virt-manager/
.virtinst/
.xsession-errors
.zcompdump
.zsh_history
.SpiderOak/
.adobe/
.lesshst
.setroubleshoot
notes-scratch
rpmbuild/
Contacts/
Documents/
Downloads/
Dropbox/
Maildir/
Pictures/
Sent/
bin/
dev/
hcache
images/
workspace/
yed.jnlp
