.ICEauthority
.RubyMine32/
.abrt/
.bash_history
.bash_logout
.bash_profile
.bugzillacookies
.bundler/
.cache/
.dbus/
.dir_colors
.dropbox-dist/
.dropbox/
.eclipse/
.elluminate/
.elinks/
.esd_auth
.fontconfig/
.gconf/apps/evolution
.gconf/apps/gnome-settings
.gconf/apps/meld
.gconf/apps/metacity
.gconf/apps/nm-applet
.gconf/apps/shotwell
.gconf/apps/virt-manager
.gconf/apps/%gconf.xml
.gem/
.gimp-2.6/
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.header_cache
.histfile
.icedtea/
.imsettings.log
.irssi/
.katello/
.local/
.libreoffice/
.m2/
.macromedia/
.mission-control/
.mozilla/
.mutt.crt
.offlineimap/
.offlineimaprc
.oh-my-zsh/
.pgadmin3
.pgpass
.pki/
.psql_history
.pulse-cookie
.pulse/
.purple/
.rdesktop/
.ssh/
.subversion_IDEA/
.task/
.thumbnails/
.vim/.netrwhist
.vimfuzzyfinder
.viminfo
.virt-manager/
.virtinst/
.xsession-errors
.zcompdump
.zsh_history
.SpiderOak/
.adobe/
.grl-*
.lesshst
.netrc
.setroubleshoot
.zsh-update
notes-scratch
rpmbuild/
Contacts/
Documents/
Downloads/
Dropbox/
Maildir/
Pictures/
Sent/
bin/
dev/
hcache
images/
workspace/
yed.jnlp
Desktop/

